body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
body {
  background: #fff;
  color: #444;
  font-family: Open Sans, sans-serif;
}
a {
  color: #2177d1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:active,
a:focus,
a:hover {
  color: #f9bb16;
  outline: none;
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0 0 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 0 0 20px;
  padding: 0;
}
.back-to-top {
  position: fixed;
  display: none;
  background: #2177d1;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 30px;
  bottom: 90px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  z-index: 11;
}
.back-to-top i {
  padding-top: 12px;
  color: #fff;
}
@media (max-width: 768px) {
  .back-to-top {
    display: none;
    margin-right: 8px;
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top-color: #2177d1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.brand {
  color: #2177d1;
}
.brand-secondary {
  color: #2177d1;
}
#header {
  height: 80px;
  -webkit-transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.3);
}
#header.header-pages,
#header.header-scrolled {
  height: 60px;
  padding: 10px 0;
}
@media (max-width: 991px) {
  #header {
    height: 60px;
    padding: 10px 0;
  }
}
#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
}
#header .logo h1 a,
#header .logo h1 a:hover {
  color: #a35f09;
  text-decoration: none;
}
#header .logo img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  padding: 0;
  margin: 5px 0;
  max-height: 30px !important;
}
@media (max-width: 991px) {
  #header .logo img {
    margin: 5px 25px;
  }
}
.main-pages {
  margin-top: 60px;
}
#intro {
  width: 100%;
  position: relative;
  background: url(/static/media/intro-bg.c712aacd.png) bottom no-repeat;
  background-size: cover;
  padding: 150px 0 50px;
}
@media (max-width: 991px) {
  #intro {
    padding: 150px 0 60px;
  }
}
@media (max-width: 574px) {
  #intro {
    padding: 120px 0 52px;
  }
}
#intro .intro-img {
  width: 50%;
  float: right;
}
@media (max-width: 991px) {
  #intro .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px;
  }
}
#intro .intro-info {
  width: 50%;
  float: left;
}
@media (max-width: 991px) {
  #intro .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 767px) {
  #intro .intro-info {
    width: 100%;
  }
}
#intro .intro-info h1 {
  color: #fff;
  margin-bottom: 45px;
  font-size: 46px;
  font-weight: 700;
}
#intro .intro-info h1 span {
  color: rgb(189, 42, 46);
}
@media (max-width: 767px) {
  #intro .intro-info h1 {
    font-size: 34px;
    margin-bottom: 30px;
  }
}
#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}
@media (max-width: 991px) {
  #intro .intro-info .btn-get-started,
  #intro .intro-info .btn-services {
    padding: 10px 20px;
    margin: 5px;
  }
}
@media (max-width: 574px) {
  #intro .intro-info .btn-get-started,
  #intro .intro-info .btn-services {
    padding: 10px 20px;
    margin: 5px;
  }
}
#intro .intro-info .btn-get-started {
  background: #2177d1;
  border: 2px solid #2177d1;
  color: #fff;
}
#intro .intro-info .btn-get-started:hover {
  background: none;
  border-color: #fff;
  color: #fff;
}
#intro .intro-info .btn-services {
  border: 2px solid #fff;
}
#intro .intro-info .btn-services:hover {
  background: #2177d1;
  border-color: #2177d1;
  color: #fff;
}
.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}
.main-nav a {
  display: block;
  position: relative;
  color: #000f27;
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}
.main-nav .active > a,
.main-nav a:hover,
.main-nav li:hover > a {
  color: #2177d1;
  text-decoration: none;
}
.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}
.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #000f27;
}
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul li:hover > a {
  color: #2177d1;
}
.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}
.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}
.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}
.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}
.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(65, 64, 66, 0.8);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}
.mobile-nav .active > a,
.mobile-nav a:hover,
.mobile-nav li:hover > a {
  color: #2177d1;
  text-decoration: none;
}
.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}
.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}
.mobile-nav .drop-down > a {
  padding-right: 35px;
}
.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}
.mobile-nav .drop-down li {
  padding-left: 20px;
}
.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}
.mobile-nav-toggle i {
  margin: 18px 10px 0 0;
  color: #2177d1;
}
.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(65, 64, 66, 0.8);
  overflow: hidden;
  display: none;
}
.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active .mobile-nav {
  left: 0;
}
.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
.section-header h2 {
  font-size: 36px;
  color: #2177d1;
  text-align: center;
  font-weight: 500;
  position: relative;
}
.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #414042;
  width: 75%;
}
@media (max-width: 767px) {
  .section-header p {
    width: 100%;
  }
}
.section-bg {
  background: #ecf5ff;
}
#about {
  background: #fff;
  padding: 60px 0;
}
#about .about-container .background {
  margin: 20px 0;
}
#about .about-container .content {
  background: #fff;
}
#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}
#about .about-container p {
  line-height: 26px;
}
#about .about-container p:last-child {
  margin-bottom: 0;
}
#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px;
}
#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #2177d1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#about .about-container .icon-box .icon i {
  color: #2177d1;
  font-size: 24px;
}
#about .about-container .icon-box:hover .icon {
  background: #2177d1;
}
#about .about-container .icon-box:hover .icon i {
  color: #fff;
}
#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}
#about .about-container .icon-box .title a {
  color: #2177d1;
}
#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}
#about .about-extra {
  padding-top: 60px;
}
#about .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}
#services {
  padding: 60px 0 40px;
  box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.1);
}
#services .box {
  padding: 20px 20px 20px 50px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  min-height: 220px;
}
#services .box:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
#services .box ul {
  font-size: 14px;
  margin: 20px 0 0 30px;
}
#services .icon {
  position: absolute;
  left: 10px;
  top: calc(50% - 32px);
}
#services .icon i {
  font-size: 64px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
#services .title a {
  color: #111;
}
#services .box:hover .title a {
  color: #2177d1;
}
#services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}
#why-us {
  padding: 60px 0;
  background: #a11d0c;
}
#why-us .section-header h3,
#why-us .section-header p {
  color: #fff;
}
#why-us .card {
  background: #981b0b;
  border-color: #981b0b;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 100%;
}
@media (max-width: 991px) {
  #why-us .card {
    margin: 0;
  }
}
#why-us .card:hover {
  background: #85180a;
  border-color: #85180a;
}
#why-us .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #f6b868;
}
#why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
}
#why-us .card p {
  font-size: 15px;
  color: #f8c380;
}
#why-us .card .readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid #981b0b;
}
#why-us .card .readmore:hover {
  border-bottom: 2px solid #fff;
}
#why-us .counters {
  padding-top: 40px;
}
#why-us .counters span {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 48px;
  display: block;
  color: #fff;
}
#why-us .counters p {
  padding: 0;
  margin: 0 0 20px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #fde5e2;
}
#portfolio {
  padding: 60px 0;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}
#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px;
  list-style: none;
  text-align: center;
}
#portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #2177d1;
  border-radius: 50px;
  text-transform: uppercase;
  background: #f9cc94;
  margin: 15px 15px 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#portfolio #portfolio-flters li.filter-active,
#portfolio #portfolio-flters li:hover {
  background: #2177d1;
  color: #fff;
}
#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
#portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
#portfolio .portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-wrap:hover img {
  opacity: 0.4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
  color: #fff;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  color: #2177d1;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #f8c88a;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #2177d1;
  border-radius: 50%;
  margin: 10px 4px 0;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i {
  padding-top: 6px;
  font-size: 22px;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover {
  background: #f26654;
}
#portfolio
  .portfolio-item
  .portfolio-wrap
  .portfolio-info
  .link-details:hover
  i,
#portfolio
  .portfolio-item
  .portfolio-wrap
  .portfolio-info
  .link-preview:hover
  i {
  color: #fff;
}
#portfolio .portfolio-item .portfolio-wrap:hover {
  background: #721408;
}
#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
#testimonials {
  padding: 60px 0;
  box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.1);
}
#testimonials .section-header {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  #testimonials .testimonial-item {
    text-align: center;
  }
}
#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  float: left;
}
@media (max-width: 767px) {
  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }
}
#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: 700;
  color: #111;
  margin: 10px 0 5px 140px;
}
#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 140px;
}
#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 0 15px 140px;
}
@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}
@media (max-width: 767px) {
  #testimonials .testimonial-item h3,
  #testimonials .testimonial-item h4,
  #testimonials .testimonial-item p {
    margin-left: 0;
  }
}
#testimonials .owl-dots,
#testimonials .owl-nav {
  margin-top: 5px;
  text-align: center;
}
#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}
#testimonials .owl-dot.active {
  background-color: #2177d1;
}
#team {
  background: #fff;
  padding: 60px 0;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}
#team .member-card {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
#team .member-card .member-info {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#team .member-card .member-info-content {
  margin-top: 50px;
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
}
#team .member-card:hover .member-info {
  background: rgba(0, 86, 179, 0.7);
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#team .member-card:hover .member-info-content {
  margin-top: 0;
  -webkit-transition: margin 0.4s;
  transition: margin 0.4s;
}
#team .member-card h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
#team .member-card span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}
#team .member-card .social {
  margin-top: 15px;
}
#team .member-card .social a {
  -webkit-transition: none;
  transition: none;
  color: #fff;
}
#team .member-card .social a:hover {
  color: #2177d1;
}
#team .member-card .social i {
  font-size: 18px;
  margin: 0 2px;
}
#team .member-info-text {
  text-align: center;
  margin: 10px 0 20px;
}
#team .member-info-text h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #2177d1;
}
#team .member-info-text span {
  font-style: italic;
  display: block;
  font-size: 13px;
}
#clients {
  padding: 60px 0;
  box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.1);
}
#clients .clients-wrap {
  border-top: 1px solid #feeeec;
  border-left: 1px solid #feeeec;
  margin-bottom: 30px;
}
#clients .client-logo {
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #feeeec;
  border-bottom: 1px solid #feeeec;
  overflow: hidden;
  background: #fff;
  height: 160px;
}
#clients .client-logo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
#clients img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#technologies {
  padding: 60px 0;
}
#technologies .container {
  padding: 20px 0;
}
#technologies .content-img ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
#technologies .content-img ul li {
  display: inline-block;
  text-align: center;
  margin: 0 20px 20px 0;
  width: 25%;
}
#technologies .content-img ul li:hover img {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
#contact {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}
#contact .section-header {
  padding-bottom: 30px;
}
#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px;
  padding: 0;
  line-height: 1;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #414042;
}
#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: Montserrat, sans-serif;
  color: #888;
}
#contact .social-links {
  padding-bottom: 20px;
}
#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #2177d1;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #2177d1;
}
#contact .social-links a:hover {
  background: #2177d1;
  color: #fff;
}
#contact .info i {
  font-size: 32px;
  color: #2177d1;
  float: left;
  line-height: 1;
}
#contact .info p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 14px;
  margin: 0;
}
#contact .form #sendmessage {
  color: #2177d1;
  border: 1px solid #2177d1;
}
#contact .form #errormessage,
#contact .form #sendmessage {
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
#contact .form #errormessage {
  color: red;
  border: 1px solid red;
}
#contact .form #errormessage.show,
#contact .form #sendmessage.show,
#contact .form .show {
  display: block;
}
#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}
#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
#contact .form button[type="submit"] {
  background: #2177d1;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#contact .form button[type="submit"]:hover {
  background: #2177d1;
  cursor: pointer;
}
#footer {
  background: #414042;
  padding: 0 0 30px;
  color: #eee;
  font-size: 14px;
}
#footer .footer-top {
  background: #77787b;
  padding: 60px 0 30px;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 12px;
  padding: 2px 0;
  line-height: 1;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  color: #fff;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2177d1;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #2177d1;
  color: #fff;
}
#footer .footer-top h4 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: white;
}
#footer .footer-top .footer-links ul a:hover {
  color: #2177d1;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
}
#footer .footer-top .footer-contact p a {
  color: #000f27;
}
#footer .footer-top .footer-contact p a:hover {
  color: #2177d1;
}
#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}
#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}
#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #2177d1;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #d1250f;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  text-align: center;
  font-size: 13px;
  color: rgb(33, 119, 209);;
}
#footer .credits a {
  color: rgb(33, 119, 209);;
}
#footer .credits a:hover {
  color: rgb(33, 119, 209);;
}
@media (min-width: 1200px) {
  #intro .container {
    max-width: 73.5%;
  }
}
/*# sourceMappingURL=main.00472f78.chunk.css.map */