// main: style.scss

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);

  &.header-scrolled,
  &.header-pages {
    height: 60px;
    padding: 10px 0;
  }

  @media (max-width: 991px) {
    height: 60px;
    padding: 10px 0;
  }

  .logo {
    h1 {
      font-size: 36px;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-weight: 400;
      letter-spacing: 3px;
      text-transform: uppercase;

      @media (max-width: 991px) {
        font-size: 28px;
        padding: 8px 0;
      }
    }

    h1 a,
    h1 a:hover {
      color: darken($primary-dark, 20%);
      text-decoration: none;
    }

    img {
      transform: scale(1.3);
      padding: 0;
      margin: 5px 0;
      max-height: 30px;

      @media (max-width: 991px) {
        margin: 5px 25px;
      }
    }
  }
}

.main-pages {
  margin-top: 60px;
}
