// main: style.scss

// Default Colors Set
$default: #444;
$default-light: #666;
$default-dark: #222;

// Primary Colors Set
$primary: #ef3b24;
$primary-light: #f29620;
$primary-dark: #f29620;

// Secondary Colors Set
$secondary: #f29620;
$secondary-light: #414042;
$secondary-dark: #414042;

// Link Colors
$link: #f29620;
$link-hover: #f9bb16;

// General Colors
$red: #dc3545;
$green: #28a745;
$blue: #007bff;
$yellow: #ffc107;
$orange: #fd7e14;
$purple: #6f42c1;
$pink: #e83e8c;
$white: #fff;
$gray: #6c757d;
$black: #343a40;
$teal: #20c997;
$cyan: #17a2b8;

/// Fonts
$default-font: "Open Sans", sans-serif;
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Montserrat", sans-serif;
