@import "variables";

@import "general";
@import "header";
@import "intro";
@import "nav";
@import "sections";
@import "footer";

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #intro {
    .container {
      max-width: 73.5%;
    }
  }
}
